body {
  font-family: "Special Elite", cursive;
}

.navbar-brand {
  font-family: "Cabin Sketch", cursive;
  font-size: 2em;
}

.carousel.slide {
  width: 50%;
  display: inline-block;
  float: left;
}

#productdescription {
  display: inline-block;
  float: right;
}

@media only screen and (max-width: 767px) {
  .carousel.slide {
    width: 100%;
  }

  #productdescription {
    float: none;
    width: 100%;
  }
}

.total {
  font-weight: 800;
}

#order-image {
  width: 15%;
}
